@model List<SubjectView>

@*<section class="list-group-button-badge">
    <div class="row match-height">
    <div class="col-lg-6 col-md-12">
    <div class="card">
    <div class="card-header">
    <h4 class="card-title">Button list Group</h4>
    </div>
    <div class="card-content">
    <div class="card-body">
    <div class="list-group">
    @foreach(SubjectView sv in Model)
    {
    <button type="button"
    class="list-group-item list-group-item-action">
    @sv.subname
    </button>
    }
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>*@

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Invoices</h3>
        </div>
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SubjectView sv in Model)
                    {
                        <tr>
                            <td>@sv.subname</td>
                            <td>@sv.subdesc</td>
                            <td>@sv.sname</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm">Take Quiz</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>